<footer class="site-footer" data-od-id="footer">
  <div class="container footer-main">
    <a class="footer-brand" href="{{base}}index.html" aria-label="NEXTORY 메인페이지">
      <span>NEXTORY</span>
      <small>넥스토리</small>
    </a>
    <address class="footer-contact">
      <span>서울 영등포구 국회대로 632, 1306호(영등포동 7가, 케이엘케이유윈시티)</span>
      <span>전화번호. 02-6953-4490</span>
      <span>팩스. 02-786-4490</span>
      <span>Email sales@nextory.co.kr</span>
    </address>
    <div class="footer-links" aria-label="푸터 링크">
      <small>© NEXTORY Co., Ltd. All rights reserved.</small>
    </div>
  </div>
</footer>
